# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Maven
target/
*.war
*.jar
*.ear
dependency-reduced-pom.xml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
# Eclipse
.project
.classpath
.settings/

# 忽略日志、SQL、配置文件
*.log
*.sql
*.yml

# macOS & Linux
.DS_Store
*.swp
